{% comment %} #styles {% endcomment %}
{{ 'dringkage.css' | asset_url | stylesheet_tag }}

<div class="dringkage">
  <div class="page-width">dringkage</div>
</div>

{% schema %}
{
  "name": "Dringkage",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Dringkage",
      "settings": {}
    }
  ]
}
{% endschema %}

<script defer src="{{ 'dringkage.js' |  asset_url }}"></script>
