<div class="dringkage">
  <div class="page-width">drinkage</div>
</div>

{% schema %}
{
  "name": "Dringkage",
  "settings": [],
  "presets": [
    {
      "name": "Dringkage Section"
    }
  ]
}
{% endschema %}
