<!-- --------------------- Video Reviews  Section Sart ------------------------------------ -->

<section>
  <div class="container">
    <div class="row">
      <div class="col_4 col">
        <div class="review_left r_v row center">
          <div class="rev">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <a class="rev_numher des_type4" href="#">37,776</a>
          <p class="rev_s_text des_type4">Verified 5-star reviews</p>
        </div>

        <h4 class="title_h3">See what members are saying about AG1</h4>

        <div>
          <a class="btn_style1" href="#">See All Reviews</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col_8 col video_review_right  ">
        <div class="swiper mySwiper3">
          <div class="swiper-wrapper">
            <!-- Slide-box -->
            <div class="swiper-slide">
              <div class="video_review">
                <div class="video_img">
                  <a class="" href="#">
                    <img
                      width=""
                      height=""
                      src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/review.webp?v=1737530777"
                      alt="review"
                    >

                    <i class="fa-solid fa-play video_play"></i>
                  </a>
                </div>
                <div class="video_text">
                  <p class="P_b_text">Convenience</p>
                  <div class="line_b"></div>
                  <p class="des_type4 bold">I feel so good</p>
                  <p class="rev_text_b">JOE R., 10/3/23</p>
                </div>
              </div>
            </div>
            <!-- Slide-box -->
            <div class="swiper-slide">
              <div class="video_review">
                <div class="video_img">
                  <a class="" href="#">
                    <img
                      width=""
                      height=""
                      src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/review1.webp?v=1737530777"
                      alt="review1"
                    >

                    <i class="fa-solid fa-play video_play"></i>
                  </a>
                </div>
                <div class="video_text">
                  <p class="P_b_text">Convenience</p>
                  <div class="line_b"></div>
                  <p class="des_type4 bold">I feel so good</p>
                  <p class="rev_text_b">JOE R., 10/3/23</p>
                </div>
              </div>
            </div>

            <!-- Slide-box -->
            <div class="swiper-slide">
              <div class="video_review">
                <div class="video_img">
                  <a class="" href="#">
                    <img
                      width=""
                      height=""
                      src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/review3.webp?v=1737530777"
                      alt="review"
                    >

                    <i class="fa-solid fa-play video_play"></i>
                  </a>
                </div>
                <div class="video_text">
                  <p class="P_b_text">Convenience</p>
                  <div class="line_b"></div>
                  <p class="des_type4 bold">I feel so good</p>
                  <p class="rev_text_b">JOE R., 10/3/23</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- row -->
  </div>
  <!-- Container -->
</section>

<!-- ---------------------Video Reviews  Section End ------------------------------------ -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper('.mySwiper3', {
      slidesPerView: 2.3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>
