<section>
  <div class="container">
    <div class="row j_space_b">
      <div class="col_5 col">
        <div class="slider_4">
          <div class="swiper mySwiper4">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  width=""
                  height=""
                  src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage.webp?v=1737530776"
                  alt=""
                >
              </div>
              <div class="swiper-slide">
                <img
                  width=""
                  height=""
                  src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage_3.webp?v=1737530776"
                  alt=""
                >
              </div>
              <div class="swiper-slide">
                <img
                  width=""
                  height=""
                  src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage.webp?v=1737530776"
                  alt=""
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6 col">
        <div class="p_r">
          <h3 class="title_h3">The future is Foundational Nutrition</h3>
          <p class="des_type2">
            Our bodies today work harder than ever before, which means they need more nutrients. Because the perfect
            diet doesn’t exist, Foundational Nutrition is a science-driven approach that delivers the nutritional
            support our bodies need to thrive. This comprehensive coverage helps elevate your daily performance and
            builds a strong foundation for continued health.*
          </p>

          <a class="btn_style1" href="#">Learn about Foundational Nutrition</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper('.mySwiper4', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
  });
</script>
