<Section>
  <div class="product_section">
    <div class="container">
      <div class="row flex_r">
        <div class="col_5 col">
          <h3 class="title_h3">Get started with your AG1 Welcome Kit**</h3>
          <div class="price_table border_b_1">
            <div class="price_box row">
              <h5 class="des_type3">AG1 Pouch</h5>
              <p class="des_type3"><span></span>$79/mo USD</p>
            </div>
            <p class="P_b_text">30 day supply per pouch, ships every 30 days</p>
          </div>
          <!-- price_table -->

          <p class="P_b_text" style="margin-top:15px;">FIRST TIME PURCHASE INCLUDES:</p>

          <div class="price_table">
            <div class="price_box row">
              <h5 class="des_type3">Welcome Kit</h5>
              <p class="des_type3"><span>$28</span>Free</p>
            </div>
            <p class="P_b_text">AG1 Shaker, Scoop, and Canister</p>
          </div>
          <!-- price_table -->
          <div class="price_table border_b_1">
            <div class="price_box row">
              <h5 class="des_type3">AG1 Travel Packs (5 count)</h5>
              <p class="des_type3"><span>$19</span>Free</p>
            </div>
            <p class="P_b_text">5 individual servings</p>
          </div>
          <!-- price_table -->

          <div class="price_table">
            <div class="price_box row">
              <h5 class="des_type3">Total</h5>
              <p class="des_type3"><span>$126</span>$79/mo USD</p>
            </div>
          </div>
          <!-- price_table -->

          <!-- Buy Now Button -->
          <div>
            <a class="btn_style1 buy_now" href="#">Buy Now</a>
          </div>

          <div class="check_list row j_space_b">
            <p class="P_b_text">
              <i class="fa-solid fa-check" style="margin-right: 5px;"></i>90-day money back guarantee
            </p>
            <p class="P_b_text"><i class="fa-solid fa-check" style="margin-right: 5px;"></i>Update or cancel anytime</p>
          </div>
        </div>
        <!-- Column -->
        <div class="col_7 col center">
          <img
            width=""
            height=""
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/ProductImag.webp?v=1737530777"
            alt="ProductImag"
          >
        </div>
        <!-- Column -->
      </div>
      <!-- Row -->

      <div class="check_list  product_check_list row j_space_b">
        <p class="P_b_text"><i class="fa-solid fa-check" style="margin-right: 5px;"></i>VEGAN</p>
        <p class="P_b_text"><i class="fa-solid fa-check" style="margin-right: 5px;"></i>GLUTEN-FREE</p>
        <p class="P_b_text"><i class="fa-solid fa-check" style="margin-right: 5px;"></i>DAIRY-FREE</p>
        <p class="P_b_text"><i class="fa-solid fa-check" style="margin-right: 5px;"></i>NON GMO</p>
        <p class="P_b_text">
          <i class="fa-solid fa-check" style="margin-right: 5px;"></i>
          NO SUGAR ADDED
        </p>
        <p class="P_b_text">
          <i class="fa-solid fa-check" style="margin-right: 5px;"></i>
          NO ARTIFICIAL SWEETENERS
        </p>
      </div>
    </div>
    <!-- Container -->
  </div>
  <!-- product_section -->
</Section>
