<section>
  <div class="gallery_section">
    <div class="container">
      <p class="des_type2 bold">Join The Movement</p>
      <h3 class="title_h3">#LiveAG1</h3>
      <div class="row">
        <div class="col_3 col_6_m">
          <img
            class="gallery_image"
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage.webp?v=1737530776"
            alt="galleryimage"
          >
        </div>

        <div class="col_3 col_6_m">
          <img
            class="gallery_image"
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage2.webp?v=1737530777"
            alt="galleryimage2"
          >
        </div>

        <div class="col_3 col_6_m">
          <img
            class="gallery_image"
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage_3.webp?v=1737530776"
            alt="galleryimage 3"
          >
        </div>

        <div class="col_3 col_6_m">
          <img
            class="gallery_image"
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/galleryimage4.webp?v=1737530777"
            alt="galleryimage4"
          >
        </div>
      </div>
    </div>
  </div>
</section>
