<!-- --------------Review Section Start ---------------------- -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col_4 col">
        <div class="review_left">
          <div class="rev">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <a class="rev_numher des_type4" href="#">37,776</a>
          <p class="rev_s_text des_type4">Verified 5-star reviews</p>
        </div>
      </div>
      <!-- Column -->
      <div class="col_8 col">
        <div class="review_right">
          <!-- Swiper -->
          <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="review_slide">
                  <p class="rev_text">
                    “Great flavor and after continual use, I can definitely feel the difference in stress levels and
                    overall wellness.”
                  </p>
                  <p class="rev_text_b">Eric T., 5/19/23</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review_slide">
                  <p class="rev_text">
                    “I have noticed a huge change in my digestive system since taking AG1 regularly.”
                  </p>
                  <p class="rev_text_b">Emily H., 7/18/23</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review_slide">
                  <p class="rev_text">“I’ve noticed my recovery seems easier and I have consistent energy levels.”</p>
                  <p class="rev_text_b">Natalie W., 7/21/23</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="review_slide">
                  <p class="rev_text">“With AG1 I feel more energized and focused first thing in the morning.”</p>
                  <p class="rev_text_b">Steven R., 4/18/23</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- review_right -->
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
</section>
<!-- --------------Review Section End ------------------------ -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper('.mySwiper1', {
      direction: 'vertical',
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "LpDringkage Review",
  "tag": "section",
  "class": "padding_top_0",
  "settings": [
    {
      "type": "text",
      "id": "data",
      "label": "pick a date"
    }
  ],
  "presets": [
    {
      "name": "LpDringkage Review",
      "settings": {}
    }
  ]
}
{% endschema %}
