<section>
  <div style="background-color:#F6F5F1; padding: 60px 0px;">
    <div class="container">
      <div class="row">
        <div class="col_5 col">
          <h3 class="title_h3">The world’s top performers drink AG1</h3>
        </div>
      </div>

      <div class="tab_section">
        <div class="tab_body">
          <div class="row j_space_b">
            <div class="col_5 col tab_body_l">
              <h4 class="title_h3">
                “I’ve been using AG1 since 2012 because it’s the simplest, most straightforward way for me to get my
                basis of important vitamins, minerals, and probiotics.”
              </h4>

              <p class="rev_text_b">NEUROSCIENTIST, HOST OF THE HUBERMAN LAB PODCAST, AG1 PARTNER</p>
            </div>
            <div class="col_6 col">
              <img
                width=""
                height=""
                src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/Tab1.webp?v=1737530777"
                alt="Tab1"
              >
            </div>
          </div>
          <!-- row -->
        </div>
      </div>
    </div>
    <!-- Container -->
  </div>
</section>
