<section>
  <div class="container">
    <div class="row j_space_b">
      <div class="col_4 col">
        <h3 class="title_h3" style="margin-bottom: 50px;">Researched. Studied. Continuously Improved.</h3>
        <div>
          <a class="btn_style1 " href="#">See Our Research Studies</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col_7 col">
        <div class="bg_text">
          <p class="des_type3">IN A SINGLE-ARM STUDY†</p>
        </div>

        <div class="row">
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">97%</h4>
              <p class="des_type3 bold">of participants felt more energy after 30 days*</p>
            </div>
          </div>
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">80%</h4>
              <p class="des_type3 bold">noticed less gas & bloating after 30 days*</p>
            </div>
          </div>
        </div>

        <p class="P_b_text">
          †In a third-party, single-arm study conducted on 35 healthy adults ages 25-48 assessing the self-perceived
          efficacy of AG1 over 90 days.
        </p>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
</section>

<!-- --------------------- block 1 ------------------------------------ -->

<!-- --------------------- data block 2 ------------------------------------ -->
<section>
  <div class="container">
    <div class="row">
      <div class="col_6 col">
        <h3 class="title_h3">We set the bar for quality — and keep raising it</h3>
        <p class="des_type2">
          AG1 is held to the highest quality standards. From our research, to sourcing, to manufacturing and testing, we
          go above and beyond industry standards to bring you a safe and effective product.
        </p>
        <div class="row">
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">1</h4>
              <p class="des_type3 bold">Obsessively curated product</p>
            </div>
          </div>
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">75</h4>
              <p class="des_type3 bold">Ingredients chosen for maximum impact</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">950</h4>
              <p class="des_type3 bold">Product safety tests</p>
            </div>
          </div>
          <div class="col_6 col_6_m">
            <div class="count_box">
              <h4 class="title_h3">52</h4>
              <p class="des_type3 bold">Iterations and counting</p>
            </div>
          </div>
        </div>

        <!-- Button -->
        <a class="btn_style1" href="#">The AG Standard</a>

        <div class="image_line">
          <img
            width=""
            height=""
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/lineimage.svg?v=1737530776"
            alt="lineimage"
          >
          <img
            width=""
            height=""
            src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/lineimage1.svg?v=1737530776"
            alt="lineimage1"
          >
        </div>
      </div>
      <!-- Column -->
      <div class="col_6 center col">
        <img
          width=""
          height=""
          src="https://cdn.shopify.com/s/files/1/0634/3203/2342/files/imageleft.webp?v=1737530777"
          alt="imageleft"
        >
      </div>
      <!-- Column -->
    </div>
    <!-- row -->
  </div>
  <!-- Container -->
</section>
