<section>
  <div class="faq_section">
    <div class="container">
      <div class="row">
        <div class="col_6 col">
          <h3 class="title_h3">FAQs</h3>
        </div>
        <div class="col_6 col">
          <div class="faq">
            <button class="accordion">
              How do I know if AG1 is right for me?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                AG1 is great for anyone who wants to ensure their nutritional needs are met on a daily basis. It fills
                in the gaps where your diet falls short and provides the support you need to combat life’s daily
                stressors. Whether you are looking to overcome nutrient deficiencies or are training hard or traveling
                frequently, AG1 provides nutritional support when you need it most. AG1 is suitable for adults of all
                ages and lifestyles, including athletes and those following specialty diets. Children, pregnant or
                nursing women should seek professional medical advice before taking this or any other dietary
                supplement.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              When should I expect to see benefits?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                Many different factors can influence how AG1 affects you. These include how you take it, the consistency
                of your routine, and your health prior to starting AG1. Your diet and lifestyle all impact how soon
                you’ll see AG1's benefits and how noticeable they’ll be. Some customers notice improvements in as little
                as a few days, and for others, it can take as long as a few weeks. We're all different, so our bodies
                will react uniquely to AG1.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              How does it work?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe molestiae distinctio asperiores
                cupiditate consequuntur dolor ullam, iure eligendi harum eaque hic corporis debitis porro consectetur
                voluptate rem officiis architecto.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              What kind of benefits can I expect from taking AG1?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                AG1 provides support in five crucial areas of health: energy, immunity, gut health, hormonal and neural
                support, and healthy aging. At Athletic Greens, we understand that everyone has a unique health history
                and reacts differently to various nutrients. AG1 is the original Foundational Nutrition drink and was
                designed as a comprehensive formula to provide daily support where the body needs it most. Many members
                report feeling sustained energy, having fewer cravings, and more balanced gut health over the course of
                the first month or so. Other common benefits include healthy skin, promoting hair and nail growth,
                improved concentration, and support recovery after physical activity. For those with a nutritional
                deficiency or digestive issues, benefits may be perceived more quickly.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              How does AG1 taste?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                AG1’s fans praise its pleasant, healthy taste, and we’ve spent years perfecting the flavor. AG1’s flavor
                is naturally essenced with vanilla and pineapple, and picks up some of its taste from the fruits and
                vegetables in the blend including papaya, broccoli, cherry, carrot, and the subtle sweetness of
                stevia—all without artificial flavoring, sweeteners, and additives. No compromises.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              What makes AG1 different from other nutritional products?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                AG1 is the original Foundational Nutrition drink. The science, quality and synergy behind the nutrition
                supplements in AG1 gives us the confidence to say AG1 is the most comprehensive daily Foundational
                Nutrition health habit you will come across, period. AG1 provides nutritional support across five
                critical areas of health: energy, immunity, gut health, hormonal support and longevity. Each of the 75
                ingredients in AG1 were hand-selected and intentionally picked to provide the most bioavailable
                nutrients in a manner where each ingredient works in conjunction with the whole formula, while also
                optimizing its own function. Beyond the intention and research behind the formulation, AG1 is
                manufactured in a TGA-registered facility in New Zealand, with strict third-party analytical and
                microbiological testing at the highest quality standards. AG1 is certified for quality and safety by NSF
                International and is NSF Certified for Sport® meaning it does not contain any of the 270+ substances
                banned by professional sports organizations.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              What products does AG1 replace?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                One daily serving of AG1 eliminates the need for other supplements such as a multivitamin, multimineral,
                antioxidants, superfood blends, phytonutrients, greens blends, adaptogens, digestive enzymes,
                prebiotics, probiotics and synbiotics. You can trust AG1 to be effective with no compromises – ever –
                and the highest quality and greatest nutritional content.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              What measures do you take to ensure the quality of AG1?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                Athletic Greens takes a no-compromises approach to formulation and product quality. AG1 is manufactured
                in a TGA-registered, Good Manufacturing Practice (GMP) compliant facility, as well as recognized by NSF
                International. We maintain Full Batch Manufacturing Records, which means that all finished products are
                100% traceable for analytical and microbiological testing. AG1 is registered as a Certified for Sport®
                product under NSF International, which keeps some of the strictest industry regulations available today.
                We maintain rigorous independent audits of our manufacturing facility, as well as toxicological reviews
                that verify product formulation, and label claims and prevent unsafe levels of contaminants.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              How do I take AG1?
              <div class="icon"></div>
            </button>
            <div class="pannel">
              <p class="des_type3">
                AG1 tastes great just with cold water. Some like theirs with a squeeze of lemon or blending it into a
                smoothie, others add it to oat milk. There are a handful of ways to integrate AG1 into your day, but
                water on its own is really perfect.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var acc = document.getElementsByClassName('accordion');
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');
        this.parentElement.classList.toggle('active');

        var pannel = this.nextElementSibling;

        if (pannel.style.display === 'block') {
          pannel.style.display = 'none';
        } else {
          pannel.style.display = 'block';
        }
      });
    }
  });
</script>
