<!-- --------------Review Section Start ---------------------- -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col_4 col">
        <div class="review_left">
          <div class="rev">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <a class="rev_numher des_type4" href="#">{{ section.settings.view_count }}</a>
          <p class="rev_s_text des_type4">
            {{ section.settings.title }}
          </p>
        </div>
      </div>
      <!-- Column -->
      <div class="col_8 col">
        <div class="review_right">
          <!-- Swiper -->
          <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'review' %}
                    <div class="swiper-slide">
                      <div class="review_slide">
                        <p class="rev_text">“{{ block.review_text }}”</p>
                        <p class="rev_text_b">{{ block.review_date }}</p>
                      </div>
                    </div>
                  {% else %}
                    <div>No review found</div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- review_right -->
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
</section>
<!-- --------------Review Section End ------------------------ -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper('.mySwiper1', {
      direction: 'vertical',
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "LpDringkage Review",
  "tag": "section",
  "class": "padding_top_0",
  "settings": [
    {
      "type": "text",
      "id": "view_count",
      "label": "View Count",
      "default": "37,776"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Verified 5-star reviews"
    }
  ],
  "blocks": [
    {
      "name": "Review",
      "type": "review",
      "settings": [
        {
          "type": "text",
          "id": "review_text",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "review_date",
          "label": "Review Date",
          "default": "Eric T., 5/19/23"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LpDringkage Review",
      "settings": {}
    }
  ]
}
{% endschema %}
